body {
  margin: 0;
  padding: 0;

  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
  overflow-y: auto;
}

.mainNav {
  position: sticky;
  top: 0;
  width: 100%;
  background: white;
  z-index: 1000;
}

.navbar {
  display: flex;
  margin: 5px 15px;
  height: 50px;
  width: 35%;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.navbar img {
  height: 2rem;
}
.navbar p {
  font-size: 25px;
}

.logo {
  height: 1.1rem;
}

.separator {
  margin: 0 0.5rem;
}

.nav-items {
  display: flex;
  gap: 1rem;
}

.nav-items p {
  margin: 0;
  padding: 0.5rem 0;
  cursor: pointer;
}

@media (max-width: 480px) {
  .navbar {
    width: 90%;
  }
  .navbar p {
    font-size: 14px;
  }
  .navbar img {
    height: 1.3rem;
  }
}
