body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
  overflow-y: auto;
}

/* .mainNav {
  position: sticky;
  top: 0;
  background: white;
} */

.navbar {
  display: flex;
  margin-top: 5px;
  margin-left: 15px;
  height: 50px;
  width: 30vw;
  justify-content: space-between;
  align-items: center;
}
.navbar h2 {
  margin: 0;
  padding: 0;
  font-weight: 80;
}
.navbar p {
  margin: 0;
  padding: 0;
}
