.tabappui {
  width: 100vw;
  background-color: #f15a27;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tabappui p {
  font-weight: 500;
  font-size: 13px;

  padding: 5px;
}
.tabappui img {
  height: 1.1rem;
  margin-right: 15px;
  z-index: 3;
}
.allAppui {
  display: flex;
  flex-direction: column;
  gap: 80px;
  margin-top: 60px;
  padding: 0 100px;
  align-items: center;
  justify-content: center;
}
.allAppui h1 {
  font-family: "Pinyon Script", cursive;
  font-size: 96px;
  font-weight: 400;
  text-align: center;
  margin: auto;
  color: #f15a27;
}
.allAppui h2 {
  font-family: "Pinyon Script", cursive;
  font-size: 64px;
  font-weight: 400;
  text-align: center;
  margin: 0;
  margin-top: -30px;
}
.allAppui p {
  font-size: 24px;
}
.allAppui img {
  margin-top: 60px;
}
