.endpart {
  margin: 7rem 5rem;
}
.upper {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}
.contactlink {
  display: flex;
  flex-direction: column;
}
.link1,
.link2 {
  display: flex;
  gap: 1rem;
  align-items: center;
  font-size: 20px;
  color: #5a2898;
  position: relative;
  font-weight: 600;
  z-index: 2;
}
.heading1 h1 {
  position: relative;
  font-size: 200px;
  text-align: right;

  line-height: 80%;
  z-index: 2;
  color: #f15a27;
}
.heading2 {
  position: absolute;
  z-index: 2;
  margin-top: 25%;
}
.heading2 h1 {
  margin: 0;
  padding: 0;
  font-size: 200px;
  text-align: left;
  line-height: 80%;
  color: #f15a27;
}
.mid img {
  width: 80%;
  position: absolute;
  margin-top: -200px;
  left: 10%;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

/* mobile adjustments */
@media (max-width: 768px) {
  .endpart {
    margin: 0;
  }
  .contactlink img {
    width: 10%;
  }
  .contactlink div {
    font-size: 10px;
  }

  .upper {
    padding-top: 3rem;
    align-items: center;
    gap: 0rem;
  }
  .link1,
  .link2 {
    font-size: 18px;
    gap: 0rem;
    padding-left: 1rem;
  }
  .heading1 h1 {
    font-size: 100px;
    text-align: right;
    padding: 0;
    margin: 0;
  }
  .heading2 {
    margin-top: 75%;
  }
  .heading2 h1 {
    font-size: 100px;
  }
  .mid img {
    margin-top: 30%;
    width: 100%;
    left: 0%;
  }
}

@media (max-width: 480px) {
  .link1,
  .link2 {
    font-size: 16px;
  }
  .heading1 h1,
  .heading2 h1 {
    font-size: 80px;
  }
  .mid {
    margin-top: -150px;
  }
}
