.endpart {
  margin: 0rem 5rem;
}
.upper {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}
.contactlink {
  display: flex;
  flex-direction: column;
}
.link1,
.link2 {
  display: flex;
  gap: 1rem;
  align-items: center;
  font-size: 20px;
  color: #5a2898;
  position: relative;
  font-weight: 600;
  z-index: 2;
}
.heading1 h1 {
  position: relative;
  font-size: 150px;
  text-align: right;
  line-height: 80%;
  z-index: 2;
  color: #f15a27;
}
.heading2 {
  position: absolute;
  z-index: 2;
  margin-top: 25%;
}
.heading2 h1 {
  margin: 0;
  padding: 0;
  font-size: 150px;
  text-align: left;
  line-height: 80%;
  color: #f15a27;
}
.mid {
  position: absolute;
  margin-top: -280px;
  justify-content: center;
  z-index: 1;
}
