.landingPage {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: auto;
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
  overflow-y: auto;
  background-attachment: scroll;
}
.homepage {
  margin: 0rem;
}
.tabbar {
  width: 100vw;
  background-color: #fe92ed;
  display: flex;
  justify-content: flex-end;
}
.tabbar img {
  height: 1.1rem;
  margin: 3px;
  margin-right: 20px;
}

.hero {
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("/public/HERO.png");
  background-position: center;

  min-height: 130vh;
  background-repeat: no-repeat;
  overflow: visible;
}
