.work1 {
  margin: 0;
  padding: 0;
}
.tabposters {
  width: 100vw;
  background-color: #b4f200;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tabposters p {
  font-weight: 500;
  font-size: 13px;
  padding: 5px;
}
.tabposters img {
  height: 1.1rem;
  margin-right: 20px;
}

.parts {
  position: absolute;
}
.iconDialog {
  z-index: 1;
  left: 12%;
  top: 40%;
}
.boxes {
  top: 90%;
  left: 5%;
}
.hoverhere {
  height: 100px;
  z-index: 1;
  left: 20%;
  top: 25%;
}
.pen {
  right: 0;
  z-index: 1;
  top: 45%;
}
.workRightBlock {
  right: 30px;
  z-index: 2;
}

.splitWrapper {
  position: relative;
  width: 900px;
  height: 690px;
  margin-top: 4rem;
  margin: auto;
  display: flex;
  margin-top: 4rem;
  flex-direction: column;
  gap: 0;

  background-color: #b4f200;
  border-radius: 18px;
  border: 4px solid #b8b8b8;
}

.photo1 {
  width: 700px;
  margin: auto;
  margin-bottom: 0;
  transition: transform 0.8s ease;
}
.photo2 {
  width: 700px;
  margin: auto;
  margin-top: 0;
  transition: transform 0.8s ease;
}

.properties-panel {
  position: absolute;
  top: 90px;
  right: 45px;
  z-index: 1000;
}

.splitWrapper:hover .photo1 {
  transform: translateY(-60px);
}

.splitWrapper:hover .photo2 {
  transform: translateY(80px);
}
