.work1 {
  margin: 0;
  padding: 0;
}

.tabposters {
  width: 100vw;
  background-color: #b4f200;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tabposters p {
  font-weight: 500;
  font-size: 13px;
  margin-left: 15px;
  padding: 5px;
}
.tabposters img {
  height: 1.1rem;
}

.parts {
  position: absolute;
}
.iconDialog {
  z-index: 1;
  left: 12%;
  top: 40%;
}
.boxes {
  top: 90%;
  left: 5%;
}
.hoverhere {
  height: 100px;
  z-index: 1;
  left: 20%;
  top: 25%;
}
.pen {
  right: 0;
  z-index: 1;
  top: 45%;
}
.properties-panel {
  position: absolute;
  top: 90px;
  right: 45px;
  z-index: 1000;
}

.splitWrapper {
  position: relative;
  width: 900px;

  height: auto;
  min-height: unset;
  margin: 4rem auto;

  display: block;

  background-color: #b4f200;
  border-radius: 18px;
  border: 4px solid #b8b8b8;
}
.splitWrapper img {
  display: block;
  margin: 0 auto;
}

.photo1 {
  position: relative;
  width: 700px;
  margin: 0 auto;
  margin-bottom: 0;
  transition: transform 0.8s ease;
  z-index: 20;
  border: 1px solid black;
}
.photo2 {
  position: relative;
  width: 700px;
  margin: 0 auto;
  margin-top: 0;
  transition: transform 0.8s ease;
  z-index: 20;
  border: 1px solid black;
}

.posts {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 150px;
  height: 0;
  overflow: visible;
  pointer-events: none;
}
.posts img {
  position: relative;
  opacity: 0;
  --x: 0px;
  --y: 0px;
  --r: 0deg;
  --s: 0.9;
  transform: translate(var(--x), var(--y)) rotate(var(--r)) scale(var(--s));
  transition: transform 0.8s ease, opacity 0.4s ease;
}

.splitWrapper.open .photo1 {
  transform: translateY(-60px);
}

.splitWrapper.open .photo2 {
  transform: translateY(60px);
}

.splitWrapper.open .posts {
  height: 120px;
}

.splitWrapper.open .posts img {
  opacity: 1;
  --s: 1.1;
}

.posts img:nth-child(1) {
  --x: -100px;
  --y: -190px;
  --r: 11deg;
  z-index: 10;
}

.posts img:nth-child(2) {
  --x: -25px;
  --y: -420px;
  --r: 6deg;
  z-index: 12;
}

.posts img:nth-child(3) {
  --x: 50px;
  --y: -650px;
  --r: -4deg;
  z-index: 11;
}

.posts img:nth-child(4) {
  --x: 100px;
  --y: -720px;
  --r: 8deg;
  z-index: 2;
}

.posts img:nth-child(5) {
  --x: 160px;
  --y: -950px;
  --r: -6deg;
  z-index: 3;
}

.posts img:nth-child(6) {
  --x: 180px;
  --y: -1200px;
  --r: -6deg;
  z-index: 4;
}

.posts img:nth-child(7) {
  --x: 150px;
  --y: -1390px;
  --r: -6deg;
  z-index: 5;
}

.posts img:nth-child(8) {
  --x: -100px;
  --y: -1480px;
  --r: -6deg;
  z-index: 11;
}
