.work1 {
  margin: 0;
  padding: 0;
}
.tabposters {
  width: 100vw;
  background-color: #b4f200;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tabposters p {
  font-weight: 500;
  font-size: 13px;
  padding: 5px;
}
.tabposters img {
  height: 1.1rem;
  margin-right: 20px;
}

.parts {
  position: absolute;
}
.iconDialog {
  z-index: 1;
  left: 12%;
  top: 40%;
}
.boxes {
  top: 90%;
  left: 5%;
}
.hoverhere {
  height: 100px;
  z-index: 1;
  left: 20%;
  top: 25%;
}
.pen {
  right: 0;
  z-index: 1;
  top: 45%;
}
.properties-panel {
  position: absolute;
  top: 90px;
  right: 45px;
  z-index: 1000;
}

.splitWrapper {
  position: relative;
  width: 900px;
  height: 690px;
  margin-top: 4rem;
  margin: auto;
  display: flex;
  margin-top: 4rem;
  flex-direction: column;
  gap: 0;

  background-color: #b4f200;
  border-radius: 18px;
  border: 4px solid #b8b8b8;
}

.photo1 {
  width: 700px;
  margin: auto;
  margin-bottom: 0;
  transition: transform 0.8s ease;
  z-index: 100;
}
.photo2 {
  width: 700px;
  margin: auto;
  margin-top: 0;
  transition: transform 0.8s ease;
  z-index: 100;
}

.posts {
  margin: auto;
  margin-top: 0;
  margin-bottom: 0;

  width: 150px;
  opacity: 1;
  height: 0px;
  transition: height 0.4s ease;
}
.posts img {
  position: relative;
  opacity: 0;
  z-index: 1;
  transition: transform 0.8s ease;
}

.splitWrapper:hover .photo1 {
  transform: translateY(-30px);
}

.splitWrapper:hover .photo2 {
  transform: translateY(30px);
}
.splitWrapper:hover .posts {
  height: 120px;
}
.splitWrapper:hover .posts img {
  opacity: 1;
  transform: scale(1.1);
}

.posts img:nth-child(1) {
  left: -100px;
  top: -40px;
  rotate: 11deg;
}
.posts img:nth-child(2) {
  top: -320px;
  rotate: 6deg;
  z-index: 3;
}
.posts img:nth-child(3) {
  left: 60px;
  top: -550px;
  rotate: -4deg;
  z-index: 2;
}
.posts img:nth-child(4) {
  left: 80px;
  top: -600px;
  rotate: 8deg;
  z-index: 1;
}
.posts img:nth-child(5) {
  left: 130px;
  top: -830px;
  rotate: -6deg;
}
.posts img:nth-child(6) {
  left: 190px;
  top: -1090px;
  rotate: -6deg;
}
