.tabwebdev {
  width: 100vw;
  background-color: #f7df1e;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.tabwebdev p {
  font-weight: 500;
  font-size: 13px;
  margin-left: 20px;
  padding: 5px;
}
.tabwebdev img {
  height: 1.1rem;
  margin-right: 15px;
  z-index: 3;
}
.mainhead {
  display: flex;
  justify-content: center;
  font-size: 50px;
  font-weight: 600;
  margin: 0;
  margin: 20px;
}
.allprojects {
  margin: 0 50px;

  display: flex;
  flex-direction: column;
  gap: 55px;
}
.projectdetail {
  margin: 0 150px;
}
.projectdetail p {
  font-size: 20px;
  line-height: 134.6%;
}

.aaryavartPj {
  background-color: #ff80b5;
  border: 3px solid #c3c3c3;
  border-radius: 23px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.eyewatchPj {
  background-color: black;
  border: 3px solid #c3c3c3;
  border-radius: 23px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.PestoPj {
  background-color: #ba98ff;
  border: 3px solid #c3c3c3;
  border-radius: 23px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.gymPj {
  background-color: #afe39f;
  border: 3px solid #c3c3c3;
  border-radius: 23px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.projectSerial {
  background-color: #f7df1e;
  font-family: "Pinyon Script", cursive;
  position: absolute;
  font-size: 64px;
  width: 240px;
  height: 80px;
  z-index: 2;
}

.pj1style {
  position: absolute;
  top: 15rem;
  left: 68rem;
}
.pj2style {
  position: absolute;
  top: 60rem;
  left: 68rem;
}
.pj3style {
  position: absolute;
  top: 105rem;
  left: 68rem;
}
.pj4style {
  position: absolute;
  top: 149rem;
  left: 68rem;
}
.Projectsindv {
  display: flex;
  gap: 0;
}
