.worksection {
  width: 100%;
  height: auto;
}

.access {
  margin: 0;
  padding: 0;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.rightimg {
  padding-right: 3rem;
}

.mainsection {
  position: relative;
  margin: 0 auto;
}
.arrup {
  margin: 2rem;
}
.drop {
  z-index: 6;
  left: 38%;
  top: 18%;
}
.work {
  width: 30%;
  position: absolute;
  margin: 5rem 9rem;
}
.Poster {
  top: 0;
  left: 0;
  z-index: 1;
}
.Web {
  top: 6rem;
  left: 27%;
  z-index: 2;
}
.App {
  top: 12rem;
  right: 0;
  z-index: 3;
}
.el {
  position: absolute;
}
.curarr {
  width: 15%;
  left: 60%;
  top: 8%;
  z-index: 4;
}
.star {
  width: 3%;
  top: 2%;
  left: 68%;
  z-index: 6;
}
.arrdown {
  right: 0;
  width: 2%;
  margin-right: 2rem;
  top: 21rem;
}
.zig {
  top: 21rem;
  width: 8%;
}
.lines {
  z-index: 6;
  bottom: 9%;
  left: 50%;
  width: 12%;
}
.uiUx {
  position: relative;
  width: 100%;
  height: 700px;
}

.webdev h2 {
  font-size: 40px;
  color: #5a2898;
  font-weight: 600;
}
.webdev {
  margin: 2rem;
}
.card {
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
}
.card p {
  font-family: "Pinyon Script", cursive;
  font-size: 60px;
  font-weight: 200;
}
.webone {
  background-color: #f33283;
}
.webtwo {
  background-color: #b4f200;
}
.webthree {
  background-color: #9767f9;
}
.webfour {
  background-color: #ffd400;
}
.webfive {
  background-color: #f4511e;
}

/* mobile overrides */
@media (max-width: 768px) {
  .access {
    align-items: flex-start;
    margin: 4rem 0rem;
  }
  .rightimg {
    padding: 0;
    width: 20%;
  }
  .uiUx {
    overflow: hidden;

    height: 900px;
  }
  .work {
    width: 80%;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 0rem;
    margin: 0;
    padding: 0;

    align-items: center;
    justify-content: center;
  }
  .drop {
    left: 1%;
    top: 66%;
  }
  .star {
    display: none;
  }

  .curarr {
    width: 50%;
    left: 50%;
    top: 9rem;
  }
  .star {
    left: 60%;
    top: 2rem;
  }
  .arrdown {
    top: 75%;
    z-index: 4;
    width: 5%;
  }
  .arrup {
    display: none;
  }
  .zig {
    width: 25%;
    top: 24rem;
  }
  .lines {
    z-index: 4;
    top: 35rem;
    left: 50%;
    width: 40%;
  }
  .Web {
    border: 1px solid black;
    margin-right: 80px;
    overflow: hidden;
  }

  .webdev {
    padding: 1rem;
  }
  .webdev h2 {
    font-size: 32px;
  }
  .card p {
    font-size: 48px;
  }
}

@media (max-width: 480px) {
  .access {
    padding: 0 1rem;
  }
  .Poster {
    left: 5%;
  }
  .Web {
    top: 6rem;
    left: 25%;
  }
  .App {
    top: 12rem;
    right: 5%;
  }
  .webdev h2 {
    font-size: 28px;
  }
  .card p {
    font-size: 40px;
  }
}
