.worksection {
  width: 100%;
  height: auto;
}

.access {
  margin: 0;
  padding: 0;
  display: flex;
  width: 100vw;
  justify-content: space-between;
  align-items: center;
}
.rightimg {
  padding-right: 3rem;
}

.mainsection {
  position: relative;
  margin: 0 auto;
}
.arrup {
  margin: 2rem;
}
.drop {
  left: 32rem;
  top: 5rem;
}
.work {
  position: absolute;
  margin: 2rem 5rem;
}
.Poster {
  top: 0;
  left: 0;
  z-index: 1;
}
.Web {
  top: 6rem;
  left: 27%;
  z-index: 2;
}
.App {
  top: 12rem;
  right: 0;
  z-index: 3;
}
.el {
  position: absolute;
}
.curarr {
  left: 48rem;
  top: 4rem;
  z-index: 4;
}
.star {
  left: 54rem;
  top: 2rem;
  z-index: 5;
}
.arrdown {
  right: 0;
  margin-right: 2rem;
  top: 21rem;
}
.zig {
  top: 21rem;
}
.lines {
  top: 29rem;
  left: 38rem;
}
.uiUx {
  position: relative;
  width: 100%;
  height: 550px;
}
.webdev {
  margin: 2rem 5rem;
}
.webdev h2 {
  font-size: 40px;
  color: #5a2898;
  font-weight: 600;
}
.card {
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
}
.card p {
  font-family: "Pinyon Script", cursive;
  font-size: 60px;
  font-weight: 200;
}
.webone {
  background-color: #f33283;
}
.webtwo {
  background-color: #b4f200;
}
.webthree {
  background-color: #9767f9;
}
.webfour {
  background-color: #ffd400;
}
.webfive {
  background-color: #f4511e;
}
